name: Deploy Frontend
on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install
      # CI=false lejon ndërtimin edhe nëse ka paralajmërime (warnings)
      - run: CI=false npm run build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Skedari package.json tregon se React nxjerr rezultatin te folderi 'build'
          path: ./frontend/build

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
